@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html {
    scroll-behavior: smooth;
}

#logo{
	top:10px;
	position: relative;
}
.wrap{
	width:1520px;
	height:120px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
    align-items: center;
}

.nav{
	display:flex;
    align-items: center;

}

a{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}


.effect li {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 23px;
	list-style-type: none;
	display: inline;
	margin-left: 65px;
	position: relative;
	opacity: 70%;
}


.login_effect a{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 23px;
	opacity: 70%;
	position : relative;
	text-decoration: none;
	margin-left: 65px;
}

.box-wrap{
	display: flex;
	position: relative;
	left:200px;
	top:300px;
  	transition:.2s all; 
}

.box{
	margin-right: 50px;
	transition:.2s all; 
}

.box-wrap:hover .box{
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
}


.box-wrap:hover .box:hover{
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
}


.effect a {
text-decoration: none;
  padding: 0;
  z-index: 1;
  color:white;

}

.effect a:hover {
text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -ms-animation: circleOpacity forwards 1s;
  -moz-animation: circleOpacity forwards 1s;
  -webkit-animation: circleOpacity forwards 1s;
  animation: circleOpacity forwards 1s;
}

@keyframes circleOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.effect a:before, .effect a:after {
  text-decoration: none;
  position: absolute;
  top: 0px;
  left: 0;
  content: "◯";
  display: block;
  width: 100%;
  font-size: 0px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  z-index: -1;
}

.effect a:hover:before {
  animation: circledrop 1s;
  -ms-animation: circledrop 1s;
  -moz-animation: circledrop 1s;
  -webkit-animation: circledrop 1s;
}

.effect a:hover:after {
  animation: circledrop 1s 0.5s;
  -ms-animation: circledrop 1s 0.5s;
  -moz-animation: circledrop 1s 0.5s;
  -webkit-animation: circledrop 1s 0.5s;
}

@keyframes circledrop {
  0% {
    opacity: 1;
    font-size: 0;
    top: 0;
  }
  100% {
    opacity: 0;
    font-size: 80px;
    top: -50px;
  }
}


.moon{
	display:block;
	margin:0 auto;
	animation: fadein 2s;
}

@keyframes fadein {
	from{
		opacity:0;
	}
	to {
		opacity:1;
	}
}

@keyframes fade{
	from{
		opacity:0;
	}
	to {
		opacity:41%;
	}
}


#box_nlink{
	top:160px;
	left: 285px;
	position : relative;
	border:3px solid #dbdbdb;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:24px;
	color: #555555;
	padding:16px 105px;
}

#box_mlink{
	top:160px;
	left: 500px;
	position : relative;
	border:3px solid #dbdbdb;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:24px;
	color: #555555;
	padding:16px 105px;
}

#box_clink{
	top:160px;
	left: 715px;
	position : relative;
	border:3px solid #dbdbdb;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:24px;
	color: #555555;
	padding:16px 105px;
}



.link {
	top: 35px;
	left: 820px;
	position : relative;
	border:3px solid #ccc;
	background: transparent;
	cursor:pointer;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:22px;
	color: #ccc;
	padding:16px 100px;
	animation: fade 2s;
	opacity: 50%;
}

.link:hover{
	color: #ccc;
	opacity: 80%;
}

.scroll-downs {
  position: absolute;
  top: 890px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.55;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

  